<div class="col-sm-12">
    <form name="ebay-form" ng-submit = "upload(links)">
        <div class="ebay form-group">
            <h4>ebay:</h4>
            <textarea name="ebay" id="ebay" cols="100" rows="10" ng-model="links" class="span6"></textarea>

        </div>
        <button class="btn btn-primary" ng-if="!loading">Go</button>
        <img src="svg/ellipsis.svg" ng-if="loading">
        <!--<p>{{status}}</p>-->
    </form>
</div>
