<div class="col-sm-12">
    <style>
        .ended{
            background-color: #ffcccc;
        }
        .available{
            background-color: inherit;
        }
    </style>
        <table class="table">
            <thead>
            <th>Product</th>
            <th>Price</th>
            </thead>
            <tbody ng-repeat="product in products">
            <td ng-class="product.ended ? 'ended':'available'">{{product.name}}</td>
            <td ng-class="product.ended ? 'ended':'available'">$ {{product.price}}</td>
            </tbody>
        </table>

</div>